.home_page_photo
{
  width: 200px;
  height: 100px !important;
}

/* 
.pager.active a
{
  background-color: #000;
   color: #fff;
}

.pager.active a:hover
{
  background-color: #000;
  color: #fff;
} */
